.searchWrap {
    height: 30px;
    margin-left: 18px;
    margin-top: -6px;
    position: relative;
    width: 216px;
    .iconSearch {
        cursor: pointer;
        font-size: 15px;
        position: absolute;
        right: 6px;
        top: 7px;
    }
}