.searchWrap {
    margin-left: 18px;
    margin-top: -6px;
    .searchInput {
        border: 1px solid #c3c4c9;
        font-size: 12px;
        height: 30px;
        padding-left: 5px;
        width: 216px;
    }
}